{
  "extends": ["next/core-web-vitals", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prefer-promise-reject-errors": ["off"],
    "no-return-assign": ["off"]
  }
}
